*{
    margin: 0px;
    padding: 0px;
    /* font-family: fantasy; */
}
/* body{
    background-image: url('/img/Bakgrund.jpg');    
    background-size: cover;
    background-attachment: fixed;
} */
@font-face{
    font-family: "my_font";
    src:url("\misc\quantico.bold.ttf");
}
p{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
a{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}
input{
    font-size: 20px;
    text-align: center;
    width: 300px;
    height: 40px;
}
#mini_logga{
    height: 40px;
}
#banner p{
    margin-right: 25px;
    font-size: 15px;
    color: grey;
}
#banner a{
    margin-right: 0px;
    font-size: 15px;
    color: grey;
}
li{list-style: none;}
/* Index.html */
.hide_4mobile{
display: none;
}
.logga{
    display: none;
}
#banner{
    display: flex;
    margin-top: 0px;
    width: 100vw;
    height: 40px;
    background-color:lightblue;
    justify-content:space-between;
    align-items: center;
}
#banner a{
    margin-right: 20px;
    font-size: 10px;
}
#banner p{
    margin-right: 0px;
    font-size: 10px;
    color: grey;
}
#nav{
    display: grid;
    height: 70px;
    width: 100vw;
    margin-top: 5px;
    background-color: rgb(240, 240, 240);
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
}
.navLinks {
    display: grid;
    position:absolute; 
    left: -100vw;
    right: 0px;
    height: 500px;
    top: 110px; 
    background-color: lightpink;
    width: 50%;
    transition: all .5s;
    grid-template-rows: 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px ;
}
.navLinks li{
    margin-top: 5px;
    height: 30px;
    width: 96%;
    border: 2px solid black;
}
.navActive {
    transform: translateX(100vW);
}
.burger {
    margin-right: 50px;
    cursor: pointer;
    background-color: rgb(240, 240, 240);
}
.burger div {
    width: 30px;
    height: 5px;
    background-color: rgb(223, 144, 70);
    margin: 5px;
    border-radius: 20%;
    transition: all 0.3s;
}
.toggle .line1 {
    transform: rotate(-45deg) translate(-7px, 6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-7px,-7px);
}
#erbjudande_mobil{
    height: 350px;
    width: 100vw;
    margin-top: 5px;
}
#rekomenderade_text{
    display: flex;
    width: 100vw;
    height: 60px;
    background-color: rgb(240, 240, 240);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
}
#rekomenderade_grid{
    display: grid;
    width: 100vw;
    height: 533px;
    margin-top: 5px;
}
.rekomendation{
    display: grid;
    background-color: rgb(240, 240, 240);
    height: 170px;
    width: 98vw;
    grid-template-columns: 221px 40%;
    border: 3px solid darkgray;
}
.rekomendation p{
    margin-left: 10px;
}
.produkt_bild{
    height: 170px;
}
#senast_besökta_text{
    display: flex;
    width: 100vw;
    height: 60px;
    background-color: rgb(240, 240, 240);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}
#senast_besökta_grid{
    display: grid;
    width: 100vw;
    height: 533px;
    margin-top: 5px;
}
.senast_besökta{
    display: grid;
    background-color: rgb(240, 240, 240);
    height: 170px;
    width: 98vw;
    grid-template-columns: 221px 40%;
    border: 3px solid darkgray;
}
.senast_besökta p{
    margin-left: 10px;
}
footer{
    display: grid;
    height: 500px;
    width: 100vw;
    grid-template-columns: 1fr 1fr;
    background-color: rgb(212, 212, 212);
    margin-top: 5px;
    border-top: rgb(94, 94, 94) solid 2px;
    grid-template-areas: 
    "li so"
    "li so"
    "li so"
    "li so"
    ;
}
#footer_höger{
    grid-area: so;
}
#footer ul li:nth-child(1){
    font-size: 25px;
    font-weight: bolder;
}
#footer_vänster ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 7%;
}
/* Butiker */

    /* Min_sida */
header{
    display: flex;
    width: 100%;
    height: 40px;
    background-color: rgb(240, 240, 240);
    margin-top: 5px;
    justify-content: center;
    align-items: center;
}
#välkommen{
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(240, 240, 240);
    margin-top: 5px;
}
#välkommen p{
    margin-right: 10px;
    margin-left: 10px;
}
#beställningar{
    margin-top: 5px;
}

.minsida_rubrik{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(240, 240, 240);
    margin-top: 5px;
}
#beställningar ul li{
    width: 100%;
    border-bottom: darkgray dotted;
    display: grid;
    grid-template-areas: 
    "bi na na"
    "bi aa vi"
    ;
    grid-template-columns: 130px 1fr 1fr;
}
.order_bild{
    height: 100px;
    grid-area: bi;
}
.kvitto{
    grid-area: vi;
}
#önnskelistor ul li a{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: gray dotted;
    margin-top: 5px;
}
#önnskelistor{
    margin-bottom: 100px;
}

/* om_oss */

#vi_ar_teknikgiganten img{
    width: 100vw;
}
#vi_ar_teknikgiganten p{
    position: relative;
    color: rgb(255, 94, 0);
    top: -70px; 
    margin-left: 2%;  
    font-size:35px;
    transform: rotate(-5deg);
}
.om_oss_text{
    font-weight:900;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: blue;
    font-size: 30px;
}
#margin_0{
    margin-top: -40px;
}



/* produktsida */
#path{
    display: flex;
    align-items: center;
    height: 30px;
    background-color: rgb(240, 240, 240);
    margin-top: 5px;
}
#bild_produktsida img{
    height: 35vh;
    width: 100%;
    margin-top: 5px;
}
#beskrivning{
    height: 220px;
    background-color: rgb(240, 240, 240);
    margin-top: 5px;
}
#pris{
    display: flex;
    justify-content: space-between;
    align-items:  center;
    height: 30px;
    background-color: rgb(240, 240, 240);
    margin-top: 5px;
}
#pris p{
    margin-left: 10px;
    margin-right: 10px;
}
#spec{
    display: grid;
    height: 400px;
    border: 3px solid darkgray;
    margin-top: 5px;
    grid-template-columns: 1fr 1fr;
}
#spec_text{
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: rgb(240, 240, 240);
    margin-top: 5px;
}
h2{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#spec b{
    font-size: 15px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-bottom: 2px dotted grey;

}
#spec p{
    font-size: 15px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-bottom: 2px dotted grey;
}
@media screen and (min-width: 1080px) {
    #gridd_wrapper_main{
        width: 1500px;
        margin: auto;
    }
    #nav{
        display: flex;
        width: 99vw;
    }
    .navLinks {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        text-decoration: none ;
        list-style-type: none;
        background-color: rgb(240, 240, 240);
        font-size: 20px;
        position:absolute; 
        left: initial;
        right: initial;
        height: 70px;
        top: initial; 
        transition: initial;
    }
    .hide_4mobile{
        display: initial;
    }
    .logga{
        display: initial;
        margin-top: 0px;
    }
    .navLinks li{
        border: initial;
        margin-top: initial;
        height: initial;
        width: initial;
    }
    .hide{
        display: none;
    }
    #banner{
        display: flex;
        margin-top: 0px;
        width: 99vw;
        height: 40px;
        background-color:lightblue;
        justify-content:flex-end;
        align-items: center;
    }
    #banner a{
        margin-right: 7px;
        font-size: initial;
    }
    #banner p{
        font-size: initial;
        margin-right: 10px;
    }
    #erbjudande{
        height: 400px;
        width: 100%;
        margin-top: 5px;
    }
    #erbjudande_webb{
        display: initial;
    }
    #rekomenderade_text{
        margin-top: 5px;
        width: 100%;
    }
    #rekomenderade_grid{
        width: 100%;
        height: 206px;
        grid-auto-flow: column;
    }
    .rekomendation{
        height: 200px;
        width: 490px;
        grid-template-columns: 260px 40%;
    }
    .rekomendation p{
        font-size: 20px;
        margin-left: 10px;
    }
    .produkt_bild{
        height: 200px;
    }
    #senast_besökta_text{
        width: 100%;
    }
    #senast_besökta_grid{
        width: 100%;
        height: 206px;
        grid-auto-flow: column;
    }
    .senast_besökta{
        height: 200px;
        width: 490px;
        grid-template-columns: 260px 40%;
        margin-left: 2px;
    }
    .senast_besökta p{
        font-size: 20px;
        margin-left: 10px;
    }
    footer{
        display: flex;
        justify-content: space-between;
        grid-template-columns: initial;
        width: 99vw;
        height: 300px;
    }
    #footer ul{
        display: grid;
        grid-template-rows: 30px 30px 30px 30px 30px ;
        margin-left: 10%;
        margin-top: 10px;
    }
    #footer_höger{
        display: grid;
        grid-template-rows: 70px 70px 70px ;
    }
    /* Butiker */

    /* Min_sida */
    #beställningar ul li{
        border-right: dotted grey;
        border-top: dotted gray;
        grid-template-columns: 210px 27% 30%;
    }
    #min_sida_beställningar{
        display: flex;
    }
    .order_bild{
        height: 160px;
        grid-area: bi;
    }
    .kvitto{
        grid-area: vi;
    }
    .minsida_rubrik{
        height: 50px;
    }
    .minsida_rubrik{
        font-size: 20px;
    }

    /* om_oss */
    #vi_ar_teknikgiganten{
        height: 635px;
    }
    #vi_ar_teknikgiganten img:nth-child(2){
        width: 100%;
        margin-top: 5px;
    }
    #vi_ar_teknikgiganten p{
        top: -210px;
        left: 20%;
        font-size: 100px;
    }
    #margin_0{
        margin-top: initial;
    }
    #om_oss_info{
        margin-top: 5px;
        display: grid;
        grid-auto-flow: column;
        column-gap: 20px;
        grid-template-rows: 50px 200px;
        grid-template-columns: 1fr 1fr 1fr;
    }
    /* produktsida */
    #path{
        height: 30px;
    }
    #bild_produktsida{
        display: flex;
        justify-content: center;
        height: 60vh;
        background-color: rgb(240, 240, 240);
        margin-top: 5px;
    }
    #bild_produktsida img{
        height: initial;
        width: initial;
        margin-top: initial;
    }
    #spec{
        height: 350px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    #beskrivning{
        height: 120px; 
    }
    /* #spec p:nth-child(2n+1){
    border-right: solid 50px;
    } */
    #spec p:nth-child(4n+2){
        border-right: dotted 3px lightgray;
        }
}