*{
    margin: 0px;
    padding: 0px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}
input{
    font-size: 20px;
    text-align: center;
    width: 300px;
    height: 40px;
}
#mini_logga{
    height: 40px;
}
#banner p{
    margin-right: 25px;
    font-size: 15px;
    color: grey;
}
#banner a{
    margin-right: 0px;
    font-size: 15px;
    color: #808080;
}
li{
    list-style: none;
}
.hide_4mobile{
    display: none;
}
.logga{
    display: none;
}
#banner{
    display: flex;
    margin-top: 0px;
    width: 100vw;
    height: 40px;
    background-color:lightblue;
    justify-content:space-between;
    align-items: center;
}
#banner a{
    margin-right: 20px;
    font-size: 10px;
    font-weight: 900;
    color: rgb(78, 78, 78);
}
#banner p{
    margin-right: 0px;
    font-size: 10px;
    color: rgb(78, 78, 78);
    font-weight: 900;
}
.spacer{
    background-color: rgb(201, 201, 201);
    height: 5px;
    width: 85%;
    margin: auto;
    margin-top: 10px;
}
#nav{
    display: grid;
    height: 70px;
    width: 100vw;
    margin-top: 5px;
    background-color: rgb(250, 250, 250);
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
}
.navLinks {
    position:absolute; 
    left: -100vw;
    right: 0px;
    height: 100%;
    top: 110px; 
    background-color: white;
    width: 70%;
    transition: all .5s;
}
.navLinks li{
    margin: auto;
    margin-top: 20px;
    height: 30px;
    width: 70%;
    border-bottom: 2px solid rgb(209, 209, 209);
}
.navLinks li a{
    font-size: 17px;
    font-weight: 300;
}
.navActive{
    transform: translateX(100vW);
    z-index: 1;
}
.burger{
    margin-right: 50px;
    cursor: pointer;
    background-color: rgb(250, 250, 250);
}
.burger div{
    width: 30px;
    height: 5px;
    background-color: rgb(223, 144, 70);
    margin: 5px;
    border-radius: 20%;
    transition: all 0.3s;
}
.toggle .line1{
    transform: rotate(-45deg) translate(-7px, 6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-7px,-7px);
}
footer{
    display: grid;
    height: 790px;
    width: 100vw;
    grid-template-columns: 1fr 1fr;
    background-color: rgb(212, 212, 212);
    margin-top: 5px;
    border-top: rgb(94, 94, 94) solid 2px;
    grid-template-areas: 
    "li so"
    "li so"
    "li so"
    "li so"
    ;
}
#footer_hoger{
    grid-area: so;
}
#footer ul li:nth-child(1){
    font-size: 25px;
    font-weight: bolder;
}#footer ul li{
    padding-bottom: 10px;
}
#footer ul{
    padding-left: 5px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 7%;
}
/* Index.html */
#erbjudande_mobil{
    width: 100vw;
    margin-top: 5px;
}
#rekomenderade_grid{
    display: grid;
    width: 100vw;
    height: 533px;
    margin-top: 5px;
}
.rekomendation{
    display: grid;
    height: 170px;
    width: 98vw;
    grid-template-columns: 221px 40%;
    border: 3px solid #a9a9a9;
}
.rekomendation p{
    margin-left: 10px;
}
.produkt_bild{
    height: 170px;
}
#senast_besokta_text{
    display: flex;
    width: 100vw;
    height: 60px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}
#senast_besokta_grid{
    display: grid;
    width: 100vw;
    height: 533px;
    margin-top: 5px;
}
.senast_besokta{
    display: grid;
    height: 170px;
    width: 98vw;
    grid-template-columns: 221px 40%;
    border: 3px solid darkgray;
}
.senast_besokta p{
    margin-left: 10px;
}
/* Butiker */
#butiker_intro{
    margin-top: 5px;
    padding: 10px;
    line-height: 1.8;
}
#vara_butiker{
    display: flex;
    flex-direction: column;
}
.butiker{
    height: 130px;
    margin-top: 5px;
    display: grid;
    grid-template-columns: 30% 35% 35%;
    grid-template-rows: 30px 20px;
    grid-template-areas: 
    "bi bu bu"
    "bi öp öp"
    "bi u1 u2"
    ;
}
#butiker ul{
    grid-area: ti;
}
.butik_bild{
    width: 120px;
    grid-area: bi;
}
.stad{
    font-size: 20px;
    font-weight: 600;
    grid-area: bu;
    letter-spacing: 2px;
    margin: auto;
}
.oppettider{
    grid-area: öp;
    font-weight: 600;
}
#karta_till_oss{
    margin-top: 5px;
    width: 100%;
}
/* Min_sida */
#velkommen{
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(250, 250, 250);
    margin-top: 5px;
}
#velkommen p{
    margin-right: 10px;
    margin-left: 10px;
    font-weight: 600;
}
#min_sida_rubrik{
    display: flex;
    align-items: center;
    justify-content: center;
}
#bestallningar{
    margin-top: 5px;
}
.rubrik{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    font-size: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.underrubrik{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    font-size: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: rgb(100, 100, 100);
}
#bestallningar ul li{
    width: 100%;
    border-bottom: darkgray dotted;
    display: grid;
    grid-template-areas: 
    "bi na na"
    "bi aa vi"
    ;
    grid-template-columns: 130px 1fr 1fr;
}
.order_bild{
    height: 100px;
    grid-area: bi;
}
.kvitto{
    grid-area: vi;
}
#onnskelistor li a{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: gray dotted;
    margin-top: 5px;
}
#onnskelistor{
    padding-left: 5px;
}
/* om_oss */
#vi_ar_teknikgiganten img{
    width: 100vw;
}
#vi_ar_teknikgiganten p{
    position: relative;
    color: rgb(255, 94, 0);
    top: -70px; 
    margin-left: 2%;  
    font-size:35px;
    transform: rotate(-5deg);
}
.om_oss_text{
    font-weight:900;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: blue;
    font-size: 30px;
}
#om_oss_info{
    padding: 10px;
    line-height: 1.8;
}
#margin_0{
    margin-top: -40px;
}
/* produktsida */
#path{
    display: flex;
    align-items: center;
    height: 30px;
    background-color: rgb(250, 250, 250);
    margin-top: 5px;
}
#bild_produktsida img{
    width: 100%;
    margin-top: 5px;
}
#beskrivning{
    height: 280px;
    background-color: rgb(250, 250, 250);
    margin-top: 5px;
    padding: 10px;
    line-height: 1.4;
}
#pris{
    display: flex;
    justify-content: space-between;
    align-items:  center;
    height: 30px;
    background-color: rgb(250, 250, 250);
    margin-top: 5px;
}
#pris p{
    margin-left: 10px;
    margin-right: 10px;
    font-weight: 600;
}
#spec{
    display: grid;
    height: 400px;
    border: 3px solid darkgray;
    margin-top: 5px;
    padding-left: 5px;
    grid-template-columns: 1fr 1fr;
}
#spec_text{
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: rgb(250, 250, 250);
    margin-top: 5px;
}
#spec b{
    font-size: 15px;
    border-bottom: 2px dotted grey;
}

#spec :nth-child(27),
#spec :nth-child(28){
    border-bottom: none;
}
#spec p{
    font-size: 15px;
    border-bottom: 2px dotted grey;
}
@media screen and (min-width: 1080px) {
    #gridd_wrapper_main{
        width: 1500px;
        margin: auto;
    }
    .hide{
        display: none;
    }
    .underrubrik{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 5px;
        font-size: 40px;
        padding-top: 5px;
        padding-bottom: 5px;
        color: rgb(100, 100, 100);
    }
    #nav{
        display: flex;
        width: 99vw;
    }
    .navLinks {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        text-decoration: none ;
        list-style-type: none;
        background-color: rgb(240, 240, 240);
        font-size: 20px;
        position:absolute; 
        left: initial;
        right: initial;
        height: 70px;
        top: initial; 
        transition: initial;
    }
    .hide_4mobile{
        display: initial;
    }
    .logga{
        display: initial;
        margin-top: 0px;
    }
    .navLinks li{
        border: initial;
        margin: initial;
        height: initial;
        width: initial;
    }
    .navLinks li a{
    font-size: 20px;
    font-weight: 600;
    color: rgb(58, 58, 58);
    }
    #banner{
        display: flex;
        margin-top: 0px;
        width: 99vw;
        height: 40px;
        background-color:lightblue;
        justify-content:flex-end;
        align-items: center;
    }
    #banner a{
        margin-right: 7px;
        font-size: initial;
    }
    #banner p{
        font-size: initial;
        margin-right: 10px;
    }
    footer{
        display: flex;
        justify-content: space-between;
        width: 94%;
        height: 300px;
        padding-left: 6%;
    }
    #footer ul{
        display: grid;
        width: 300px;
        grid-template-rows: 30px 30px 30px 30px 30px ;
        margin-top: 10px;
    }
    #footer_hoger{
        display: grid;
        grid-template-rows: 70px 70px 70px ;
    }
    /* index */
    #erbjudande{
        height: 400px;
        width: 100%;
        margin-top: 5px;
    }
    #erbjudande_webb{
        display: initial;
    }
    #rekomenderade_grid{
        width: 100%;
        height: 206px;
        grid-auto-flow: column;
    }
    .rekomendation{
        height: 200px;
        width: 490px;
        grid-template-columns: 260px 40%;
    }
    .rekomendation p{
        font-size: 20px;
        margin-left: 10px;
    }
    .produkt_bild{
        height: 200px;
    }
    #senast_besokta_grid{
        width: 100%;
        height: 206px;
        grid-auto-flow: column;
    }
    .senast_besokta{
        height: 200px;
        width: 490px;
        grid-template-columns: 260px 40%;
        margin-left: 2px;
    }
    .senast_besokta p{
        font-size: 20px;
        margin-left: 10px;
    }
    /* Butiker */
    #vara_butiker_grid{
        display: flex;
    }
    #vara_butiker_grid img{
        width: 52%;
    }
    #vara_butiker{
        width: 50%;
    }
    #butiker_intro{
        width: 48%;
        font-size: 18px;
        color: rgb(31, 31, 31);
    }
    #vara_butiker{
        width: 600px;
    }
    .oppettider_1{
        grid-area: u1;
    }
    .oppettider_2{
        grid-area: u2;
    }
    #karta_till_oss{
        grid-area: bi;
        width: 97%;
        height: 390px;
    }
    #hitta_till_oss{
        display: grid;
        grid-auto-flow: column;
        grid-template-areas: 
        "bi öp";
    }
    /* Min_sida */
    #bestallningar ul li{
        border-right: dotted grey;
        border-top: dotted gray;
        grid-template-columns: 210px 27% 30%;
    }
    #min_sida_bestallningar{
        display: flex;
    }
    .order_bild{
        height: 160px;
        grid-area: bi;
    }
    .kvitto{
        grid-area: vi;
    }
    .rubrik{
        height: 50px;
        font-size: 50px;
        letter-spacing: 3px;
    }
    /* om_oss */
    #vi_ar_teknikgiganten{
        height: 635px;
    }
    #vi_ar_teknikgiganten img:nth-child(2){
        width: 100%;
        margin-top: 5px;
    }
    #vi_ar_teknikgiganten p{
        top: -210px;
        left: 20%;
        font-size: 100px;
        width: 1000px;
    }
    #margin_0{
        margin-top: initial;
    }
    #om_oss_info{
        margin-top: 5px;
        display: grid;
        grid-auto-flow: column;
        column-gap: 20px;
        grid-template-rows: 50px auto;
        grid-template-columns: 1fr 1fr 1fr;
    }
    /* produktsida */
    #path{
        height: 30px;
    }
    #bild_produktsida{
        display: flex;
        justify-content: center;
        height: 60vh;
        background-color: rgb(250, 250, 250);
        margin-top: 5px;
    }
    #bild_produktsida img{
        height: initial;
        width: initial;
        margin-top: initial;
    }
    #spec{
        height: 350px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    #spec b{
        font-size: 16px;
    }
    #spec p{
        font-size: 16px;
    }
    #beskrivning{
        height: 120px; 
    }
    #spec p:nth-child(4n+2){
        border-right: dotted 3px lightgray;
    }
    #spec :nth-child(25),
    #spec :nth-child(26){
        border-bottom: none;
        margin-bottom: -3px;
    }

}